<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Zone</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">Pictures</a></li>
                        <li> <a href="#">Music</a></li>
                        <li> <a href="#">Future</a></li>
                        <li> <a href="#">Work</a></li>
                        <li> <a href="#">MyZone</a></li>
                        <li> <a href="#">Friends</a></li>
                    </ul>
                </li>
                <li><a href="facebook.com">facebook</a></li>
              <li><a href="soundcloud.com">soundcloud</a></li>
              <li><a href="instagram.com">instagram</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    
<div class="content container-fluid" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div class="row">
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~LEFT-SIDED-NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="col-sm-2 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side" id="myScrollspy">
                <ul>
                  <li> <a href="#section1">Tasks</a></li>
                <li> <a href="#section2">Pictures</a></li>
                  <li> <a href="#section3">Music</a></li>
                  <li> <a href="#section4">Future</a></li>
                    <li> <a href="#section5">Work</a></li>
                    <li> <a href="#section6">MyZone</a></li>
                    <li> <a href="#section7">Friends</a></li>
              </ul>
            </nav>
        </div>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT-NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="col-sm-7 col-lg-7">
          <div class = "container">
            <h1>Date</h1>
              <hr>
              <div class = "container-fluid" id = "section1">
                <div class="col-sm-4 col-lg-4">
                  <h2>Upcoming Events</h2>
                  <ul>
                    <li><img src="../../../assets/img/ProfilePicture_1.png"></li>
                    <li><img src="../../../assets/img/ProfilePicture_1.png"></li>
                    <li><img src="../../../assets/img/ProfilePicture_1.png"></li>
                    <li><img src="../../../assets/img/ProfilePicture_1.png"></li>
                  </ul>
                </div>
                <div class="col-sm-3 col-lg-3">
                  <h2>Weather</h2>
                  <img src="../../../assets/img/ProfilePicture_1.png">
                </div>
              </div>
              <div class = "container-fluid" id = "section2">
                  
              </div>
              <div class = "container-fluid" id = "section3">
                  
              </div>
              <div class = "container-fluid" id = "section4">
                  
              </div>
              <div class = "container-fluid" id = "section5">
                  
              </div>
              <div class = "container-fluid" id = "section6">
                  
              </div>
              <div class = "container-fluid" id = "section7">
                  
              </div>
          </div>


        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~RIGHT-SIDED-NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="col-sm-3 col-lg-3">
            <nav class="navbar navbar-default navbar-fixed-side">
                <div>
                  <h3>STARRED ITEMS</h3>
                  <ul>
                    <li><a href="#">item1</a></li>
                    <li><a href="#">item2</a></li>
                    <li><a href="#">item3</a></li>
                    <li><a href="#">item4</a></li>
                  </ul>
                </div>
                <div>
                  <h3>REMINDERS</h3>
                  <ul>
                    <li><a href="#">item1</a></li>
                    <li><a href="#">item2</a></li>
                    <li><a href="#">item3</a></li>
                    <li><a href="#">item4</a></li>
                  </ul>
                </div>
            </nav>
        </div>

    </div>
</div>